/* Colors */

:root {
    --vertex-color: #3182CE;
    --selected-vertex-color: #434190;
    --start-vertex-color: #38A169;
    --blocked-vertex-color: #718096;
    --fake-vertex-color: #4A5568;

    --vertex-label-color: #F7FAFC;
    --selected-vertex-label-color: #F7FAFC;

    --edge-color: #A0AEC0;
    --selected-edge-color: #2D3748;

    --edge-label-color: #2D3748;
    --selected-edge-label-color: #2D3748;

    --tooltip-color: #2A4365;
    --tootlip-text-color: #F7FAFC;
}

/* Graph SVG */

svg.mv-visualizer {
    font: 400 14px "Helvetica Neue", Helvetica;
}

svg.mv-visualizer text,
svg.mv-visualizer .node {
  cursor: default;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

svg.mv-visualizer text::selection {
    background: none;
}

/* Visualizer Base */

.mv-visualizer .node > rect {
  fill: var(--vertex-color);
}

.mv-visualizer .node-label {
  fill: var(--vertex-label-color);

  font-size: 1.2em;
  font-weight: 400;
}

.mv-visualizer .node-start > rect {
  fill: var(--start-vertex-color);
}

.mv-visualizer .node-fake > rect {
  fill: var(--fake-vertex-color);
}

.mv-visualizer .node-blocked {
  font-weight: 400;
}

.mv-visualizer .node-blocked > rect {
  fill: var(--blocked-vertex-color) !important;
}

.mv-visualizer .edgeLabels {
    fill: var(--edge-label-color);

    font-size: 1.2em;
    font-weight: 400;
}

.mv-visualizer .edgePath path {
  fill: var(--edge-color);
  stroke: var(--edge-color);

  stroke-width: 2.5px;
}

/* View Mode */

.mv-viewmode {
  width: 100%;
  height: 100%;
}

/* Edit Mode */

.mv-editmode {
  width: 100%;
  height: 100%;
}

.mv-editmode .mv-editor {
  float: right;
  width: 30%;
  min-width: 150px;
  padding-right: 10px;
}

.mv-editmode .mv-visualizer .node > rect:hover {
  stroke-width: 1.75;
  fill: var(--selected-vertex-color) !important;

  cursor: pointer;
}

.mv-editmode .mv-visualizer .node.edit rect {
    fill: var(--selected-vertex-color);

    stroke-width: 1.75;
}

.mv-editmode .mv-visualizer .node-label.edit {
    fill: var(--selected-vertex-label-color);
}

.mv-editmode .mv-visualizer .edgePath:hover path {
    fill: var(--selected-edge-color);
    stroke: var(--selected-edge-color);

    cursor: pointer;
}

.mv-editmode .mv-visualizer .edgePath.edit path {
    stroke: var(--selected-edge-color);
    fill: var(--selected-edge-color);

    font-weight: 600;
}

.mv-editmode .mv-visualizer .edgeLabels .label :hover {
    fill: var(--selected-edge-label-color);

    cursor: pointer;
    font-weight: 600;
}

.mv-editmode .mv-visualizer .edgeLabels .label.edit {
    font-weight: 600;
}

.mv-editmode .mv-visualizer .dynamicPath {
    stroke: var(--selected-edge-color);
    fill: var(--selected-edge-color);

    stroke-width: 3px;
}

.mv-editmode .mv-visualizer .dynamicPath.hidden {
    stroke-width: 0;
}

/* Tooltips */

.mv-tooltip {
    position: fixed;
    text-align: left;

    font-size: 1rem;
    font-weight: 400;

    padding: 10px 12px;

    background: var(--tooltip-color);
    color: var(--tootlip-text-color);

    border: 0;
    border-radius: 1px;

    pointer-events: none;
}

.mv-tooltip-code {
    display: inline-block;

    font-size: 0.9em;
    font-family: monospace;

    padding: 3px 6px;
    margin-top: 3px;

    border: 0px;
    border-radius: 3px;

    background-color: #ecf0f1;
    color: #e74c3c;
}

/* PopUp */

.mv-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(1, 1, 1, 0.75);
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

.mv-pop-up {
  background-color: white;

  padding: 1rem 2rem;
}
